.img{
  background-image: linear-gradient(#e66465, #9198e5);
}
@media (min-width: 1200px){
  .img1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 20px;
   
  }
}
@media (min-width: 1200px){
  .img2 {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
   
  }
}

@media (min-width: 1200px){
  .demo {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
   
  }
}
